/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add neumorphic shadow */
    transition: box-shadow 0.3s ease; /* Add a shadow transition */
}

header:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Hover effect for header */
}

.highlight:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2), -8px -8px 12px rgba(255, 255, 255, 0.8); /* Hover effect for deboss */
    transform: translate(-2px, -2px); /* Slight hover animation */
}

#main-title {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

main:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px; /* Slightly larger border radius for smoother edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

p {
    margin-top: 10px;

}

section:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#club-stamp {
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
    word-break: break-all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#club-stamp:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#image-container-6NX0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Make the image small */
  #image-container-6NX0 img {
    max-width: 50%; /* Adjust the maximum width as needed */
    max-height: 50%; /* Adjust the maximum height as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  #image-container-6NX0 a {
    display: flex;
    justify-content: center;
  }
